@import "tailwindcss";

@theme {
    --font-serif: "Cinzel Variable", serif;
    --font-sans: "Montserrat Variable", sans-serif;
}

@layer base {
  body {
    @apply antialiased;
    background-color: #F5F5F5;
  }
}

.noise-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.08;
  z-index: 0;
  background-image: url(/grain-texture.png);
  background-repeat: repeat;
  background-size: 256px 256px;
  animation: 4s steps(5,end) infinite grain;
}

/* @keyframes pulse-slow {
  0%, 100% {
    opacity: 0.08;
    transform: translate(-50%, -60%) scale(1);
  }
  50% {
    opacity: 0.12;
    transform: translate(-50%, -60%) scale(1.1);
  }
} */

.animate-pulse-slow {
  animation: pulse-slow 8s ease-in-out infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-25%); }
}

@keyframes marquee-reverse {
  0% { transform: translateX(-25%); }
  100% { transform: translateX(0); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 100s linear infinite;
}
